@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  color: #fff;
  width: 100%;
 
  position: relative;
  z-index: 0;
}

.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.wrapper {
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
}

.main-title-wrapper {
  text-align: center;
}

.main-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.title::after {
  content: "";
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* tooltip */
.tooltip {
  color: #000;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/* trends */
.trends {
  margin-top: 44px;
  margin-bottom: 44px;
}

.trends-container {
  margin-top: 22px;
}

.trend-card {
  height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
  color: #fff;
  display: flex;
  position: relative;
  z-index: 0;
}

.trend-card:nth-child(1) {
  background-image: url(../img/trend1.jpg);
}

.trend-card:nth-child(2) {
  background-image: url(../img/trend2.jpg);
}

.trend-card:nth-child(3) {
  background-image: url(../img/trend3.jpg);
}

.trend-card:nth-child(4) {
  background-image: url(../img/trend4.jpg);
}

.trend-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

.trend-card-content {
  width: 100%; 
  border: 3px solid #75673b;
}

.trend-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 16px;
}

.trend-tags > li {
  margin-right: 18px;
}

.trend-tags > li > a {  
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.trend-tags > li > a:hover {
  text-decoration: underline;
}

.trend-title {
  font-weight: 700;
  text-transform: uppercase;
}

.trend-title > a {
  color: #fff;
  text-decoration: none;
}

.trend-title > a:hover {
  color: #b59f5b;
}

/* main */
.post-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 16px;
}

.post-tags > li > a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  margin-right: 18px;
}

.post-tags > li > a:hover {
  text-decoration: underline;
}

.post-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.post-title > a {
  color: #000;
  text-decoration: none;
}

.post-meta {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-date {
  color: #888888;
}

.post-author {
  font-weight: 700;
  color: #000;
}

.post-description > p {
  color: #000;
}

/********* aside ************/
.short-post {
  display: flex;
  margin-bottom: 22px;
}

.short-img {
  vertical-align: bottom;
}

.short-post-title {
  font-weight: 700;
  text-transform: uppercase;
}

.short-post-title > a {
  color: #000;
  text-decoration: none;
}

.search-form-wrapper {
  width: 100%;
  margin-top: 56px;
  margin-bottom: 62px;
}

.search-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search-group {
  width: calc(100% - 48px);
}

.search-field {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  font-size: 13px;
  padding: 18px 20px;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
}

.search-field + .search-field-tooltip {
  position: absolute;
  top: -35px;
  left: -15px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.search-field:hover + .search-field-tooltip {
  clip: auto;
  width: auto;
  height: auto;
}

.search-button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  cursor: pointer;
  vertical-align: top;
}

.search-button:hover {
  background-color: #000;
}

.search-button + .search-button-tooltip {
  position: absolute;
  top: -35px;
  right: -15px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.search-button:hover + .search-button-tooltip {
  clip: auto;
  width: auto;
  height: auto;
}

.email-form-wrapper {
  margin-bottom: 54px;
}

.email-form {
  margin-top: 22px;
  width: 100%;
  position: relative;
}

.email-group {
  width: 100%;
}

.email-field {
  display: block;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  font-size: 13px;
  margin-bottom: 18px;
  padding: 18px 20px;
}

.email-field:focus {
  outline: 2px solid #b59f5b;
}

.email-field + .email-field-tooltip {
  position: absolute;
  top: -35px;
  left: -15px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.email-field:hover + .email-field-tooltip {
  clip: auto;
  width: auto;
  height: auto;
}

.email-button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.email-button:hover {
  background-color: #000;
}

.tag-list-wrapper {
  margin-bottom: 55px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 24px;
}

.tag-list > a {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 14px;
  border: 3px solid #ededed;
  margin: 4px;
}

.tag-list > a:hover {
  border: 3px solid #b59f5b;
}

.theme-list {
  list-style-type: none;
  position: relative;
  margin-top: 6px;
}

.theme-list > li {
  padding-top: 2rem;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

.theme-list > li > a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.theme-list > li > a:hover {
  color: #b59f5b;
}

.theme-list > li > span {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  position: absolute;
  display: inline-block;
  margin-left: 3px;
}

/* products */
.products {
  margin-top: 44px;
}

.products-container {
  margin-top: 26px;
}

.product-card {
  position: relative;
  padding-left: 10px;
  padding-right: 14px;
}

.product-preview {
  text-align: center;
}

.product-info {
  padding-left: 20px;
  padding-bottom: 24px;
  padding-right: 20px;

  position: relative;
  z-index: 0;
}

.product-info::after {
  content: "";  /*border: 3px solid #b59f5b;*/
  border: 3px solid #d3c59d;
  background-color: transparent;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  bootom: 0;
  width: 100%;
  height: calc(100% + 60px);
  z-index: -1;
}

.product-title {  
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
}

.product-description {
  
}

.product-description > a {
  color: #b59f5b;
  text-decoration: none;
}

.product-description > a:hover {
  text-decoration: underline;
}

.sale-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {  
  font-weight: 700;
}

.sale-link {
  display: block;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  color: #fff;
  /*font-size: 14px;*/
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;  
}

.sale-link:hover {
  background-color: #323232;
}

/********* footer ************/
.social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 74px;
}

.social > li {
  margin-right: 25px;
}

.social > li:last-child {
  margin-right: 0;
}

.soc-link {  
  display: block;
  width: 20px;
  height: 20px;
  text-decoration: none;
  position: relative;
}

a.soc-link > .soc-tooltip {
  position: absolute;
  top: -35px;
  left: -15px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

a.soc-link:hover > .soc-tooltip {
  clip: auto;
  width: auto;
  height: auto;
}

.soc-twitter {
  background-image: url(../svg/004-twitter.svg);
  background-size: 20px 20px;
}

.soc-pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-size: 20px 20px;
}

.soc-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
  background-size: 20px 20px;
}

.soc-instagram {
  background-image: url(../svg/005-instagram.svg);
  background-size: 20px 20px;
}

.soc-tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-size: 20px 20px;
}

.footer-text {
  margin-bottom: 40px;
  text-align: center;
}

.footer-text > a {
  color: #999999;
  font-size: 1.2rem;
  margin-top: 70px;
  text-decoration: none;
}

.footer-text > a:hover {
  text-decoration: underline;
}

/* Modal window */
.modal-window {
  /*visibility: hidden;*/
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8); 

  display: flex;
}

.modal-wrapper {
  position: relative;
  margin: auto;
  padding-top: 10px;    
 
  background-color: transparent;        
}

.modal-header { 
  display: flex;
  justify-content: space-between; 
  background-color: transparent;   
    
  height: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}


.modal-close {
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-x.svg);
  
  cursor: pointer;
}

.modal-body {
  background-color: #fff;
  width: 100%;
  height: 95%;
  margin: auto;  

  padding-top: 30px;  
}

.feedback-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 52px;

  height: 100%; 
}

.feedback-question {
  font-size: 13px;
  /*line-height: 40px;*/
  color: #0f0d0e;

  margin-bottom: 12px;
}

.feedback-list {
  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
  pointer-events: none
  cursor: pointer;

  max-width: 280px;
  width: 100%;
  /*height: 48px;*/
  height: 9%;

  /*margin-bottom: 35px;*/
  margin-bottom: 6%;
}


.feedback-radio-item {
  -webkit-appearance: none;
  -moz-appearance: none; 
   /*pointer-events: none
   cursor: pointer; 
*/
  width: 25px;
  height: 25px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.feedback-radio-item:checked { 
  
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;

  margin-right: 8px;
}

.feedback-radio-answer {
  font-size: 13px;
  color: #0f0d0e;

  /*margin-bottom: 33px;*/
}

/*.feedback-radio-answer::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;

  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;

  margin-right: 8px;
  cursor: pointer;  
}*/

.feedback-radio-item:checked ~ .feedback-radio-answer::before {
  content: "";
  /*display: inline-block;
  vertical-align: middle;*/
  
  background-image: url(../svg/form-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;

  margin-right: 8px;
}

.feedback-area {
  width: 100%;
  height: 130px;
  /*height: 24%;*/
  background-color: #f4f7f6;

  -webkit-appearance: none;
  -moz-appearance: none;

  /*margin-bottom: 32px;*/
  margin-bottom: 6%;
}

.feedback-button {
  width: 100%;
  height: 48px;
  /*height: 9%;*/
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #fff;  
}

/* Mobile */
@media (max-width:640px) {
  .banner {
    background-image: url(../img/banner-mobile.jpg);
    /* Высота баннера = высоте экрана */
    height: 100vh;
  }

  .wrapper {
    height: inherit;
   }

  /* For mobile we have only logo & burger */
  .header-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    padding-top: 30px;
    height: 50%;          
  }

  .logo-wrapper {
    text-align: center;
    /* Отступ между логотипом и заголовком по макету = 46px*/
    margin-bottom: 23px;
  }

  .logo-img {
    width: 270px;    /*width: 75vw;*/
  }

  .nav {

  }

  .menu-links {
    display: none;
  }

  .burger-link {
    display: block;
    text-align: right;    
  }

  .main-title-wrapper {
    padding-top: 23px;    
  }

  .main-title {
    font-size: 26px;
    line-height: 36px;
  }

  .title {
    font-size: 16px;
  }

  /* trends */
  .trend-card {
    width: 100%;
    margin-bottom: 3px;
  }

  .trend-card:last-child {
    margin-bottom: 0;
  }

  .trend-card-content {
    width: 100%;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-top: auto;
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .trend-tags {
    margin-bottom: 16px;
  }

  .trend-tags > li {
    margin-right: 18px;
  }

  .trend-tags > li > a {
    font-size: 14px;
  }

  .trend-title {
    font-size: 16px;
    line-height: 20px;
  }

  /* main */
  .post-full {
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 25px;
  }

  /* Для всех постов, кроме первого  */
  .post-full:nth-child(n + 2) {
    padding-top: 36px;
  }

  .post-preview {
    width: 100%;
    margin-bottom: 16px;
  }

  .post-img {
    width: 100%;
    vertical-align: bottom;
  }

  .post-info {
    width: 100%;
  }

  .post-tags > li > a {
    font-size: 14px;
    line-height: 40px;
  }

  .post-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 26px;
  }

  .post-meta {
    margin-bottom: 20px;
  }

  .post-date {
    font-size: 12px;
  }

  .post-author {
    font-size: 12px;
    margin-left: 14px;
  }

  .post-description > p {
    font-size: 14px;
    color: #000;
    line-height: 20px;
  }

  .sidebar {
    width: 100%;
    margin-top: 46px;
    overflow: hidden;
  }

  .short-posts-wrapper {
    margin-top: 25px;
  }

  .short-preview {
    width: 26%;
    margin-right: 20px;
  }

  .short-img {
    width: 100%;
    vertical-align: bottom;
  }

  .short-post-info {
    width: 66%;
  }

  .short-post-title {
    font-size: 14px;
    line-height: 18px;
  }

  /* Search form */
  .search-form-wrapper {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }

  /* products*/
  .products {
    margin-top: 44px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 26px;
  }

  .product-card {
    width: 100%;
    margin-bottom: 24px;
  }

  .product-card {
    padding-left: 10px;
    padding-right: 14px;
  }

  .product-info {
    padding-left: 20px;
    padding-bottom: 24px;
    padding-right: 20px;
  }

  .product-title {
    font-size: 17px;
    margin-top: 22px;
  }

  .product-description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
  }

  .price > p:first-child {
    font-size: 14px;
  }

  .price > p:last-child {
    font-size: 20px;
  }

  .sale-link {
    display: block; 
    width: 140px;
    height: 48px;
    font-size: 14px;
    text-align: center;  
    padding-top: 15px;  
  }

  /* Modal */
/*  .modal {
    width: 100vw;
    height: 100vh;
  }*/

  .modal-wrapper {  
    width: 96%;
    height: 98%;
  }

  

}

/* Mobile & landscape orientation */
@media (max-width: 640px) and (orientation:landscape) {
    
  .trends-container {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc(50% - 3px);
  }

  .trend-card:nth-child(n + 1) {
    margin-bottom: 3px;
  }

  .trend-card:nth-child(odd) {
    margin-right: 3px;
  }
}

/* Tablet */
@media (min-width:641px) and (max-width:1200px) {
  .banner {
    background-image: url(../img/banner-bg-tablet.jpg);
    height: 388px;
  }

  .wrapper {
    height: 100%;
    padding-left: 36px;
    padding-right: 36px;
   }

  /* For tablet we have only logo & burger */
  .header-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    height: 44%;   
  }

  .logo-wrapper {
    margin-top: 42px;
  }

  .logo-img {
    width: 160px;    /*width: 50vw;*/
  }

  .menu-links {
    display: none;
  }

  .burger-link {
    display: block;
    text-align: right;
    margin-top: 50px;
  }

  .burger-img {
    width: 24px;
    height: 20px;
  }

  .main-title-wrapper {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;        
  }

  .main-title {
    font-size: 40px;
    line-height: 55px;
  }

  .title {
    font-size: 18px;
  }

  .trends-container {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc(50% - 3px);
  }

  .trend-card:nth-child(n + 1) {
    margin-bottom: 3px;
  }

  .trend-card:nth-child(odd) {
    margin-right: 3px;
  }

  .trend-card-content {
    width: 100%;
    margin-left: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: auto;
    padding-top: 34px;
    padding-left: 30px;
    padding-right: 60px;
    padding-bottom: 34px;
  }

  .trend-tags {
    margin-bottom: 14px;
  }

  .trend-tags > li {
    margin-right: 18px;
  }

  .trend-tags > li > a {
    font-size: 14px;
  }

  .trend-title {
    font-size: 17px;
    line-height: 22px;
  }

  /* main */
  .main-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 64px;
  }

  /* main */
  .post-full {
    width: 392px;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 23px;
  }

  .post-full:last-child {
    border-bottom: none;
  }

  /* Для всех постов, кроме первого  */
  .post-full:nth-child(n + 2) {
    padding-top: 40px;
  }

  .post-preview {
    width: 100%;
    margin-bottom: 16px;
  }

  .post-img {
    width: 100%;
    vertical-align: bottom;
  }

  .post-info {
    width: 100%;
  }

  .post-tags > li > a {
    font-size: 14px;
    line-height: 40px;
  }

  .post-title {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 40px;
  }

  .post-meta {
    margin-bottom: 38px;
  }

  .post-date {
    font-size: 12px;
  }

  .post-author {
    font-size: 12px;
    margin-left: 14px;
  }

  .post-description > p {
    font-size: 15px;
    color: #000;
    line-height: 22px;
  }

  .sidebar {
    width: 306px;
    margin-left: 32px;
  }

  .short-posts-wrapper {
    margin-top: 25px;
  }

  .short-preview {
    width: 26%;
    margin-right: 20px;
  }

  .short-img {
    width: 100%;
    vertical-align: bottom;
  }

  .short-post-info {
    width: 66%;
  }

  .short-post-title {
    font-size: 15px;
    line-height: 22px;
  }

  /* Search form */
  .search-form-wrapper {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }

  /* products*/
  .products {
    margin-top: 50px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
  }

  .product-card {
    width: 50%;
    margin-bottom: 26px;
  }

  .product-card:nth-child(odd) {
    width: calc(50% - 22px);
    margin-right: 22px;
  }

  .product-card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .product-info {
    padding-left: 20px;
    padding-bottom: 24px;
    padding-right: 20px;
  }

  .product-title {
    font-size: 17px;
    margin-top: 22px;
  }

  .product-description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
  }

  .price > p:first-child {
    font-size: 14px;
  }

  .price > p:last-child {
    font-size: 20px;
  }

  .sale-link {   
    width: 142px;
    height: 50px;
    font-size: 14px;       
   
    text-align: center;  
    padding-top: 15px;  
  }

  .modal-wrapper > h3.title {
    margin-top: 54px;
  }

}

/* Tablet & landscape orientation */
@media (min-width:641px) and (max-width:1200px) and (orientation:landscape) {
 
  
}

/* Desktop */
@media (min-width:1201px) {
  .banner {
    background-image: url(../img/banner-bg.jpg);
    height: 450px;
  }

   .wrapper {
    /* 1660 - 2 * 230 */
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;    
  }

  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 28px;   
  }

  .logo-wrapper {
   /* margin-top: 42px;*/
  }

  .logo-img {
    width: 179px;    /*width: 50vw;*/
  }  

  .menu-links {
    display: block;
  }

  .menu-links {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
  }

  .menu-links > li {
    margin-right: 32px;
  }

  .menu-links > li:last-child {
    margin-right: 0;
  }

  .menu-links > li > a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
  }

  .menu-links > li > a:hover {
    text-decoration: underline;
  }

  .burger-link {
    display: none;
  }

  .main-title-wrapper {  
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 110px;    
  }

  .main-title {
     font-size: 45px;
     line-height: 75px;
  }

  .title {
    font-size: 20px;
  }

  /* trends */
.trends {
  margin-top: 64px;
  margin-bottom: 64px;
}

.trends-container {
  margin-top: 28px;
}

  .trends-container {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-card {
    width: calc(25% - 3px);
    margin-right: 3px;
    height: 320px;
  }

  .trend-card:last-child {
    margin-right: 0;
  }

  .trend-card-content {
    width: 100%;
    margin-left: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: auto;
    padding-top: 39px;
    padding-left: 32px;
    padding-right: 42px;
    padding-bottom: 38px;
  }

  .trend-tags {
    margin-bottom: 16px;
  }

  .trend-tags > li {
    margin-right: 18px;
  }

  .trend-tags > li > a {
    font-size: 14px;
  }

  .trend-title {
    font-size: 20px;
    line-height: 22px;
  }

  /* main */
  .main-container {
    display: flex;    
    margin-bottom: 64px;
  }

 
  .post-full {
    display: flex;
    /*width: 392px;*/    
    padding-bottom: 60px;
  }

  .post-full:last-child {
     padding-bottom: 0;
  }

  .post-preview {
    /*width: 100%;*/ 
    margin-right: 28px;   
  }

  .post-img {
    /*width: 100%;*/
    vertical-align: bottom;
  }

  .post-info {
    /*width: 100%;*/
  }

  .post-tags > li > a {
    font-size: 14px;
    line-height: 40px;
  }

  .post-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 38px;
  }

  .post-meta {
    margin-bottom: 53px;
  }

  .post-date {
    font-size: 12px;    
  }

  .post-author {
    font-size: 12px;
    margin-left: 18px;
  }

  .post-description > p {
    font-size: 15px;    
    line-height: 22px;
  }

  .sidebar {
    width: 280px;
    margin-left: 132px;
  }

  .short-posts-wrapper {
    margin-top: 25px;
  }

  .short-preview {
    width: 72px;
    margin-right: 18px;   
  }

  .short-img {
    width: 100%;
    vertical-align: bottom;
  }

  .short-post-info {
    width: 180px;    
  }

  .short-post-title {
    font-size: 14px;
    line-height: 18px;
  }

  /* Search form */
  .search-form-wrapper {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }


  /* products*/
.products {
  margin-bottom: 66px;
}

  .products-container {
    display: flex;
   
    margin-top: 28px;   
  }


  .product-card {
    width: 33.3%;
    margin-bottom: 26px;
    margin-right: 60px;

    padding-left: 20px;
    padding-right: 20px;    
  }

   .product-card:last-child {
    margin-right: 0;
  }

  .product-info {
    padding-left: 20px;
    padding-bottom: 24px;
    padding-right: 20px;
  }

  .product-title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
  }

  .product-description {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
  }

  .price > p:first-child {
    font-size: 14px;
  }

  .price > p:last-child {
    font-size: 20px;
  }

  .sale-link {   
    width: 142px;
    height: 50px;
    font-size: 14px;       
   
    text-align: center;  
    padding-top: 15px;  
  }


  .modal-wrapper > h3.title {
    margin-top: 54px;
  }

}